<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purple bear test</title>
</head>
<body>
<div class="wrapper">
    {{> "../components/general-sections/header.hbs"}}
    <main class="main">
        <div class="hero">
            <div class="hero__backdrop">
                <img src="images/hero/backdrop.jpg" alt="Hero">
            </div>
            <div class="container hero__container">
                <div class="hero__content">
                    <h1 class="heading-1 hero__title">Самый популярный агрегатор подарочных сертификатов</h1>
                    <span class="body-text hero__subtitle">Здесь вы сможете выбрать нужный, интересный, а главное, необычный подарок на любой вкус! На сайте представлено несколько сотен различных услуг, каждая из которых может стать долгожданным подарком</span>
                    <div class="hero__action">
                        <div class="hero__button">
                            <button class="button">Зарегистрироваться</button>
                        </div>
                        <div class="hero__offer">
                            Дарим <span>500 ₽</span> за регистрацию на бонусный счёт
                        </div>
                    </div>
                </div>
                <div class="hero__picture">
                    <div class="hero__card">
                        <button class="hero__card-button">
                            <svg width="16" height="16">
                                <use xlink:href="images/icons/sprite.svg#credit-card"></use>
                            </svg>
                            <span class="hero__card-text">Активировать карту</span>
                        </button>
                    </div>
                    <img src="images/hero/cards.webp" alt="Card">
                </div>
                <div class="hero__backdrop-rings">
                    <img src="images/hero/rings.svg" alt="Decor">
                </div>
                <div class="hero__video">
                    <button class="hero__video-button">
                        <svg width="18" height="20">
                            <use xlink:href="images/icons/sprite.svg#play"></use>
                        </svg>
                    </button>
                    <div class="hero__video-info">
                        <div class="hero__video-text">Как это работает?</div>
                        <div class="hero__video-time">(01:32)</div>
                    </div>
                </div>
                <div class="hero__down">
                    <button class="hero__down-button" data-button-scroll="promo-slider">
                        <svg width="14" height="8">
                            <use xlink:href="images/icons/sprite.svg#chevron-down-white"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="promo-slider" data-anchor-scroll="promo-slider">
            <div class="container promo-slider__container">
                <div class="promo-slider__slider js-promoSlider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="promo-slider-card">
                                <div class="promo-slider-card__background">
                                    <img src="images/promo-slider/back.jpg" alt="">
                                </div>
                                <div class="promo-slider-card__content">
                                    <div class="promo-slider-card__title">Отмечайте нас в instagram и получите 500
                                        бонусов на свой лицевой счёт!
                                    </div>
                                    <div class="promo-slider-card__subtitle">Отмечайте аккаунт @bantikov_ru и пишите в Direct «Хочу бонус»</div>
                                </div>
                                <div class="promo-slider-card__button">
                                    <button class="button">Подробнее</button>
                                </div>
                                <picture class="promo-slider-card__picture">
                                    <source srcset="images/promo-slider/lg.webp" media="(min-width: 1200px)">
                                    <source srcset="images/promo-slider/sm.webp" media="(min-width: 768px)">
                                    <source srcset="images/promo-slider/xs.webp" media="(min-width: 320px)">
                                    <img src="images/promo-slider/lg.jpg" alt="Slide-1">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="promo-slider-card">
                                <div class="promo-slider-card__background">
                                    <img src="images/promo-slider/back.jpg" alt="">
                                </div>
                                <div class="promo-slider-card__content">
                                    <div class="promo-slider-card__title">Отмечайте нас в instagram и получите 500
                                        бонусов на свой лицевой счёт!
                                    </div>
                                    <div class="promo-slider-card__subtitle">Отмечайте аккаунт @site и пишите в Direct
                                        «Хочу бонус»
                                    </div>
                                </div>
                                <div class="promo-slider-card__button">
                                    <button class="button">Подробнее</button>
                                </div>
                                <picture class="promo-slider-card__picture">
                                    <source srcset="images/promo-slider/lg.webp" media="(min-width: 1200px)">
                                    <source srcset="images/promo-slider/sm.webp" media="(min-width: 768px)">
                                    <source srcset="images/promo-slider/xs.webp" media="(min-width: 320px)">
                                    <img src="images/promo-slider/lg.jpg" alt="Slide-1">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="promo-slider-card">
                                <div class="promo-slider-card__background">
                                    <img src="images/promo-slider/back.jpg" alt="">
                                </div>
                                <div class="promo-slider-card__content">
                                    <div class="promo-slider-card__title">Отмечайте нас в instagram и получите 500
                                        бонусов на свой лицевой счёт!
                                    </div>
                                    <div class="promo-slider-card__subtitle">Отмечайте аккаунт @site и пишите в Direct
                                        «Хочу бонус»
                                    </div>
                                </div>
                                <div class="promo-slider-card__button">
                                    <button class="button">Подробнее</button>
                                </div>
                                <picture class="promo-slider-card__picture">
                                    <source srcset="images/promo-slider/lg.webp" media="(min-width: 1200px)">
                                    <source srcset="images/promo-slider/sm.webp" media="(min-width: 768px)">
                                    <source srcset="images/promo-slider/xs.webp" media="(min-width: 320px)">
                                    <img src="images/promo-slider/lg.jpg" alt="Slide-1">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="promo-slider-card">
                                <div class="promo-slider-card__background">
                                    <img src="images/promo-slider/back.jpg" alt="">
                                </div>
                                <div class="promo-slider-card__content">
                                    <div class="promo-slider-card__title">Отмечайте нас в instagram и получите 500
                                        бонусов на свой лицевой счёт!
                                    </div>
                                    <div class="promo-slider-card__subtitle">Отмечайте аккаунт @site и пишите в Direct
                                        «Хочу бонус»
                                    </div>
                                </div>
                                <div class="promo-slider-card__button">
                                    <button class="button">Подробнее</button>
                                </div>
                                <picture class="promo-slider-card__picture">
                                    <source srcset="images/promo-slider/lg.webp" media="(min-width: 1200px)">
                                    <source srcset="images/promo-slider/sm.webp" media="(min-width: 768px)">
                                    <source srcset="images/promo-slider/xs.webp" media="(min-width: 320px)">
                                    <img src="images/promo-slider/lg.jpg" alt="Slide-1">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="promo-slider-card">
                                <div class="promo-slider-card__background">
                                    <img src="images/promo-slider/back.jpg" alt="">
                                </div>
                                <div class="promo-slider-card__content">
                                    <div class="promo-slider-card__title">Отмечайте нас в instagram и получите 500
                                        бонусов на свой лицевой счёт!
                                    </div>
                                    <div class="promo-slider-card__subtitle">Отмечайте аккаунт @site и пишите в Direct
                                        «Хочу бонус»
                                    </div>
                                </div>
                                <div class="promo-slider-card__button">
                                    <button class="button">Подробнее</button>
                                </div>
                                <picture class="promo-slider-card__picture">
                                    <source srcset="images/promo-slider/lg.webp" media="(min-width: 1200px)">
                                    <source srcset="images/promo-slider/sm.webp" media="(min-width: 768px)">
                                    <source srcset="images/promo-slider/xs.webp" media="(min-width: 320px)">
                                    <img src="images/promo-slider/lg.jpg" alt="Slide-1">
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="promo-slider__pagination"></div>
                <div class="promo-slider__prev">
                    <svg width="12" height="20">
                        <use xlink:href="images/icons/sprite.svg#slide-prev"></use>
                    </svg>
                </div>
                <div class="promo-slider__next">
                    <svg width="12" height="20">
                        <use xlink:href="images/icons/sprite.svg#slide-next"></use>
                    </svg>
                </div>
            </div>
        </div>
    </main>
    {{> "../components/general-sections/footer.hbs"}}
</div>
</body>
</html>

