.promo-slider {
  padding: 48px 0 38px;
  @include breakpoint(sm) {
    padding-bottom: 50px;
  }
  @include breakpoint(lg) {
    padding-top: 64px;
    padding-bottom: 70px;
  }

  &__container {
    position: relative;
  }

  &__slider {
    position: relative;
    width: 274px;
    @include breakpoint(sm) {
      width: 100%;
    }
    @include breakpoint(lg) {
      overflow: hidden;
    }

    .swiper-wrapper {
      display: flex;
      width: 100%;
    }

    .swiper-slide {
      width: 100%;
    }
  }

  &__pagination {
    position: absolute;
    display: flex;
    align-items: center;
    left: 50%;
    bottom: 16px;
    transform: translate(-50%, 0);
    height: 6px;
    padding: 0 1px;
    background: radial-gradient(47.06% 1028.5% at 34.22% 50%, #40B3FE 0%, #64CFF5 100%);
    border-radius: 8px;
    z-index: 1;
    @include breakpoint(sm) {
      bottom: 22px;
    }
    @include breakpoint(lg) {
      background: transparent;
      transform: translate(-50%, 100%);
      bottom: -32px;
    }

    .swiper-pagination-bullet {
      width: 27px;
      height: 4px;
      border-radius: 100px;
      background: #FFFFFF;
      opacity: 0.4;
      cursor: pointer;
      @include breakpoint(lg) {
        background-color: #F0E6FA;
        opacity: 1;
      }

      &:not(:last-child) {
        margin-right: 8px;
      }
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      @include breakpoint(lg) {
        background-color: $accent;
      }
    }
  }

  &__prev, &__next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 12px;
    transition: all 0.3s;

    &.swiper-button-disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &:hover {
      background: #ECECEC;

      svg path {
        fill: $pressed-accent;
      }
    }
  }

  &__prev {
    left: 5px;
    transform: translate(-100%, -50%);
  }

  &__next {
    right: 5px;
    transform: translate(100%, -50%);
  }
}

.promo-slider-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 12px;
  z-index: 1;
  min-height: 394px;
  background: #64ACCD;
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
  @include breakpoint(sm) {
    padding: 24px;
    min-height: 240px;
  }
  @include breakpoint(lg) {
    padding: 32px;
    border-radius: 24px;
    min-height: 290px;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__picture {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    @include breakpoint(sm) {
      left: auto;
      right: 0;
    }
  }

  &__content {
    margin-bottom: 20px;
    @include breakpoint(sm) {
      flex: 1 0 auto;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 12px;
    @include breakpoint(sm) {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 16px;
      max-width: 440px;
    }
    @include breakpoint(lg) {
      font-size: 28px;
      line-height: 32px;
      max-width: 540px;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    @include breakpoint(sm) {
      max-width: 350px;
    }
    @include breakpoint(lg) {
      font-size: 16px;
      line-height: 24px;
      max-width: 540px;
    }
  }

  &__button {
    .button {
      width: 100%;
      max-width: 320px;
      @include breakpoint(sm) {
        width: auto;
        max-width: none;
      }
    }
  }
}
