.header {
  position: relative;
  min-height: 60px;
  background: #FFFFFF;
  width: 100%;
  z-index: 10;
  @include breakpoint(lg) {
    box-shadow: 0 5px 10px rgba(127, 127, 127, 0.03),
    0 3px 4px rgba(127, 127, 127, 0.04),
    0 1.5px 2px rgba(127, 127, 127, 0.05),
    0 0.5px 1px rgba(127, 127, 127, 0.12);
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;
    @include breakpoint(sm) {
      padding: 0;
    }
  }

  &__notice {
    background-color: $primary-dark;
    display: none;
    @include breakpoint(lg) {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 24px;
    }
  }

  &__notice-text {
    width: 1170px;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    color: $primary-grey;
  }

  &__main {
    display: flex;
    padding: 10px 17px;
    box-shadow: 0 5px 10px rgba(127, 127, 127, 0.03),
    0 3px 4px rgba(127, 127, 127, 0.04),
    0 1.5px 2px rgba(127, 127, 127, 0.05),
    0 0.5px 1px rgba(127, 127, 127, 0.12);
    z-index: 2;
    @include breakpoint(sm) {
      padding: 10px 30px;
    }
    @include breakpoint(lg) {
      box-shadow: none;
      padding: 9px 0;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 17px;
    @include breakpoint(sm) {
      margin-right: 36px;
    }
    @include breakpoint(lg) {
      margin-right: 22px;
    }
  }

  .logo {
    font-size: 32px;
    line-height: 35px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
    @include breakpoint(sm) {
      font-size: 35px;
    }
    @include breakpoint(lg) {
      font-size: 40px;
      line-height: 40px;
    }
  }

  &__location {
    display: flex;
    align-items: center;
    margin-right: 28px;
    flex: 1 1 auto;
    @include breakpoint(sm) {
      flex: 0 0 auto;
      margin-right: 16px;
    }
    @include breakpoint(lg) {
      margin-right: 24px;
    }
  }

  &__search {
    display: none;
    @include breakpoint(sm) {
      display: flex;
      align-items: center;
      flex: 1 1 246px;
      margin-right: 16px;
    }
    @include breakpoint(lg) {
      flex: 1 1 472px;
      margin-right: 24px;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    margin-right: 12px;
    @include breakpoint(sm) {
      margin-right: 16px;
      min-width: 126px;
    }
    @include breakpoint(lg) {
      margin-right: 19px;
      min-width: 143px;
    }
  }

  &__user {
    display: none;
    @include breakpoint(lg) {
      display: flex;
      align-items: center;
    }
  }

  &__burger {
    @include breakpoint(lg) {
      display: none;
    }
  }

  &__menu {
    position: absolute;
    right: 0;
    width: 100%;
    padding-top: 60px;
    transform: translate(100%, 0);
    transition: all 0.3s;
    z-index: 1;

    @include breakpoint(sm) {
      width: auto;

    }
    @include breakpoint(lg) {
      position: static;
      padding-top: 0;
      padding-bottom: 10px;
      transform: translate(0, 0);
    }

    &.show {
      transform: translate(0, 0);
    }
  }
}

.location {
  display: flex;
  align-items: center;
  text-decoration: none;

  &__icon {
    margin-right: 4px;
  }

  &__text {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: $primary-dark;
    transition: all 0.3s;
  }

  &:hover {
    .location__text {
      color: $accent;
    }
  }
}

.header-search {
  position: relative;
  width: 100%;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12px;
    right: 12px;
  }

  &__input {
    display: flex;
    align-items: center;
    padding-left: 16px;
    height: 40px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid $primary-grey;
    border-radius: 12px;
    transition: all 0.3s;

    &::placeholder {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #B6B6B6;
      @include breakpoint(sm) {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }
    }

    &:hover {
      border: 1px solid $hover-accent;
    }

    &:focus {
      border: 1px solid $hover-accent;
    }
  }
}

.header-contacts {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__phone {
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    color: $primary-dark;
    @include breakpoint(sm) {
      width: auto;
      height: auto;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
    @include breakpoint(lg) {
      font-size: 16px;
      line-height: 24px;
    }

    &:hover {
      color: $accent;
    }
  }

  &__phone-icon {
    display: flex;
    @include breakpoint(sm) {
      display: none;
    }
  }

  &__phone-text {
    display: none;
    @include breakpoint(sm) {
      display: inline;
      white-space: nowrap;
    }
  }

  &__mail {
    display: none;
    transition: all 0.3s;
    @include breakpoint(sm) {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: $primary-grey;
      text-decoration: none;
    }

    svg {
      display: flex;
      margin-right: 5px;
    }

    &:hover {
      color: $accent;
    }
  }
}

.header-user {
  display: flex;

  &__icons {
    display: flex;
    margin-right: 19px;
  }

  &__scores {
    margin-right: 8px;
  }

  &__icons-item {
    &:not(:last-child) {
      margin-right: 6px;
    }
  }
}

.user-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  text-decoration: none;
  border-radius: 12px;
  transition: all 0.3s;

  &__count {
    position: absolute;
    bottom: 1px;
    right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: $red-status;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
  }

  svg {
    display: flex;
    path {
      transition: all 0.3s;
    }
  }

  &:hover {
    background: #ECECEC;

    svg path {
      fill: $pressed-accent;
    }
  }
}

.scores {
  position: relative;
  display: flex;
  background-image: url("data:image/svg+xml,%3Csvg width='196' height='40' viewBox='0 0 196 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_108_627' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='196' height='40'%3E%3Crect width='196' height='40' rx='12' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_108_627)'%3E%3Crect width='196' height='40' rx='12' fill='%23FF8383'/%3E%3Cg filter='url(%23filter0_f_108_627)'%3E%3Cellipse cx='182.989' cy='0.108278' rx='69.4859' ry='27.1351' fill='%2387D9FF'/%3E%3C/g%3E%3Cg filter='url(%23filter1_f_108_627)'%3E%3Cellipse cx='176.067' cy='40.1259' rx='58.6893' ry='22.9189' fill='%23B460FF'/%3E%3C/g%3E%3Cg filter='url(%23filter2_f_108_627)'%3E%3Cellipse cx='40.6947' cy='30.162' rx='69.4859' ry='27.1351' fill='%23FF3333'/%3E%3C/g%3E%3Cg filter='url(%23filter3_f_108_627)'%3E%3Cellipse cx='58.966' cy='-6.3786' rx='93.2938' ry='36.4324' fill='%23C15BFF'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_108_627' x='77.0854' y='-63.4442' width='211.806' height='127.105' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='18.2087' result='effect1_foregroundBlur_108_627'/%3E%3C/filter%3E%3Cfilter id='filter1_f_108_627' x='80.9609' y='-19.2103' width='190.213' height='118.673' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='18.2087' result='effect1_foregroundBlur_108_627'/%3E%3C/filter%3E%3Cfilter id='filter2_f_108_627' x='-65.2085' y='-33.3905' width='211.806' height='127.105' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='18.2087' result='effect1_foregroundBlur_108_627'/%3E%3C/filter%3E%3Cfilter id='filter3_f_108_627' x='-70.7451' y='-79.2284' width='259.422' height='145.699' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='18.2087' result='effect1_foregroundBlur_108_627'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40px;
  padding: 1px 1px 1px 15px;
  border-radius: 12px;
  text-decoration: none;
  min-width: 137px;
  transition: all 0.3s;

  &__icon {
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translate(0, -50%);

    svg {
      display: flex;
    }
  }

  &__inner {
    display: flex;
    background-color: #fff;
    border-radius: 12px;
    padding: 0 10px;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(127, 127, 127, 0.03),
    0px 3px 4px rgba(127, 127, 127, 0.04),
    0px 1.5px 2px rgba(127, 127, 127, 0.05),
    0px 0.5px 1px rgba(127, 127, 127, 0.12);
  }

  &__item {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__label {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: $primary-grey;
  }

  &__prop {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: $primary-dark;
  }

  &:hover {
    padding-left: 1px;
  }
}

.header-avatar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  padding: 1px;
  background-color: $primary-grey;

  img {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    border-radius: 50%;
    object-fit: cover;
  }

  &__icon {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: $pressed-accent;
    transition: all 0.3s;

    svg {
      display: flex;
    }
  }

  &:hover {
    .header-avatar__icon {
      transform: rotate(180deg);
    }
  }
}

.menu-button {
  padding: 11px;
  font-weight: 500;
  @include breakpoint(sm) {
    min-width: 96px;
    justify-content: flex-start;
  }

  &__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      position: relative;
      height: 2px;
      width: 18px;
      background-color: #fff;
      border-radius: 5px;
      transition: all 0.3s;

      &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        height: 2px;
        width: 18px;
        background-color: #fff;
        border-radius: 5px;
        transition: all 0.3s;
      }

      &:before {
        top: -5px;
      }

      &:after {
        bottom: -5px;
      }
    }
  }

  &__text {
    margin-left: 8px;
    display: none;
    @include breakpoint(sm) {
      display: inline;
      margin-left: 11px;
    }
  }

  &.active & {
    &__icon {
      span {
        background-color: transparent;

        &:before {
          top: 0;
          transform: rotate(45deg);
        }

        &:after {
          bottom: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.catalog-button {
  position: relative;
  overflow: hidden;
  padding: 0 14px;
  transition: all 0.3s;
  width: 100%;
  @include breakpoint(lg) {
    padding: 0 16px 0 8px;
    width: auto;
    height: 40px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 20px;
    background-color: #fff;
    transform: skewX(-25deg) translateX(-100%);
    opacity: 0.5;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 1);
    transition: all 0.3s;
  }

  &__icon {
    display: flex;
    margin-right: 8px;
    transition: all 0.3s;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  @include hovering {
    &:hover {
      .catalog-button__icon {
        transform: scale(1.2);
      }

      &:before {
        left: -25px;
        animation: glare 0.5s;
      }
    }
  }
}

.card-action-button {
  position: relative;
  z-index: 1;
  width: 100%;
  transition: all 0.3s;
  @include breakpoint(lg) {
    padding: 0 16px;
    height: 40px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-color: #fff;
    border-radius: 12px;
    z-index: -1;
  }

  @include hovering {
      &:hover {
        box-shadow: 0px -1px 2px rgba(127, 127, 127, 0.08),
        0px 15px 30px rgba(127, 127, 127, 0.04),
        0px 8px 12px rgba(127, 127, 127, 0.07),
        0px 4px 4px rgba(127, 127, 127, 0.09),
        0px 1px 4px rgba(127, 127, 127, 0.12);
      }
  }
}

