<header class="header">
    <div class="header__notice">
        <span class="header__notice-text">Режим работы колл-центра: будни 10:00 до 19:00, сб-вс выходной. Электронные сертификаты на услуги отправляются в течение 5 минут после оплаты. Заказы оформляются на сайте круглосуточно</span>
    </div>
    <div class="container header__container">
        <div class="header__main">
            <div class="header__logo">
                <a href="#" class="logo">LOGO</a>
            </div>
            <div class="header__location">
                <a href="#" class="location">
                    <div class="location__icon">
                        <svg width="14" height="14">
                            <use xlink:href="images/icons/sprite.svg#location"></use>
                        </svg>
                    </div>
                    <div class="location__text">Москва</div>
                </a>
            </div>
            <div class="header__search">
                <div class="header-search">
                    <div class="header-search__icon">
                        <svg width="16" height="16">
                            <use xlink:href="images/icons/sprite.svg#search"></use>
                        </svg>
                    </div>
                    <input type="text" placeholder="Поиск по каталогу..." class="header-search__input">
                </div>
            </div>
            <div class="header__contacts">
                <div class="header-contacts">
                    <a href="tel:88003335381" class="header-contacts__phone">
                        <span class="header-contacts__phone-icon">
                            <svg width="17" height="17">
                                <use xlink:href="images/icons/sprite.svg#phone"></use>
                            </svg>
                        </span>
                        <span class="header-contacts__phone-text">8 (800) 333-53-81</span>
                    </a>
                    <a href="mailto:info@bantikov.ru" class="header-contacts__mail">
                        <svg width="14" height="14">
                            <use xlink:href="images/icons/sprite.svg#mail"></use>
                        </svg>
                        info@bantikov.ru
                    </a>
                </div>
            </div>
            <div class="header__user">
                <div class="header-user">
                    <div class="header-user__icons">
                        <div class="header-user__icons-item">
                            <a href="#" class="user-icon">
                                <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.97152 17.2157L9.99939 15.5L11.053 17.2C10.4168 17.5943 9.61362 17.6003 8.97152 17.2157ZM8.49157 3.50745C7.71856 2.98243 6.70865 2.5 5.60747 2.5C3.08212 2.5 1.59985 4.35714 2.09394 6.90625C2.93987 11.2706 9.99939 15.5 9.99939 15.5C8.97152 17.2157 8.97191 17.2159 8.97152 17.2157L8.96752 17.2133L8.96095 17.2093L8.9402 17.1967C8.92305 17.1863 8.89931 17.1718 8.8694 17.1533C8.80959 17.1164 8.725 17.0636 8.61891 16.996C8.40691 16.8607 8.10812 16.6655 7.74906 16.4184C7.03368 15.9259 6.06543 15.2178 5.06254 14.3585C4.06529 13.5039 2.99565 12.4675 2.10359 11.3133C1.22404 10.1752 0.424685 8.80467 0.130483 7.28682C-0.205204 5.55495 0.0965686 3.8269 1.15486 2.50009C2.21997 1.16473 3.84152 0.5 5.60747 0.5C7.43114 0.5 8.94705 1.35898 9.8875 2.04462C9.92537 2.07223 9.96267 2.09983 9.99939 2.12737C10.0361 2.09983 10.0734 2.07223 10.1113 2.04462C11.0517 1.35898 12.5676 0.5 14.3913 0.5C18.3364 0.5 20.6123 4.15474 19.8509 7.36746C19.5018 8.84055 18.693 10.1821 17.8118 11.3083C16.9183 12.4501 15.8623 13.4815 14.8797 14.336C13.8921 15.1949 12.9444 15.9046 12.245 16.3991C11.8941 16.6473 11.6027 16.8434 11.396 16.9793C11.2927 17.0473 11.2103 17.1003 11.1521 17.1374C11.1374 17.1468 11.1242 17.1552 11.1126 17.1625C11.1013 17.1697 11.0915 17.1759 11.0833 17.181L11.0632 17.1936L11.0569 17.1976L11.053 17.2C11.0526 17.2002 11.053 17.2 9.99939 15.5C9.99939 15.5 16.8786 11.2363 17.9048 6.90625C18.3989 4.82142 16.9167 2.5 14.3913 2.5C13.2901 2.5 12.2802 2.98243 11.5072 3.50745C10.5845 4.13411 9.99939 4.82143 9.99939 4.82143C9.99939 4.82143 9.41423 4.13411 8.49157 3.50745Z" fill="#535353"/>
                                </svg>
                                <span class="user-icon__count">2</span>
                            </a>
                        </div>
                        <div class="header-user__icons-item">
                            <a href="#" class="user-icon">
                                <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 8C4 8.55229 4.44772 9 5 9C5.55228 9 6 8.55229 6 8V6H10V8C10 8.55229 10.4477 9 11 9C11.5523 9 12 8.55229 12 8V6H14V15C14 16.6569 12.6569 18 11 18H5C3.34315 18 2 16.6569 2 15V6H4V8ZM6 4H10C10 2.89543 9.10457 2 8 2C6.89543 2 6 2.89543 6 4ZM12 4C12 1.79086 10.2091 0 8 0C5.79086 0 4 1.79086 4 4L1 4C0.447715 4 0 4.44772 0 5V15C0 17.7614 2.23858 20 5 20H11C13.7614 20 16 17.7614 16 15V5C16 4.44772 15.5523 4 15 4H12Z" fill="#535353"/>
                                </svg>
                                <span class="user-icon__count">7</span>
                            </a>
                        </div>
                    </div>
                    <div class="header-user__scores">
                        <a href="#" class="scores">
                            <div class="scores__icon">
                                <svg width="11" height="11">
                                    <use xlink:href="images/icons/sprite.svg#pay"></use>
                                </svg>
                            </div>
                            <div class="scores__inner">
                                <div class="scores__item">
                                    <div class="scores__label">Баллы</div>
                                    <div class="scores__prop">14 000</div>
                                </div>
                                <div class="scores__item">
                                    <div class="scores__label">Кешбэк</div>
                                    <div class="scores__prop">500</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="header-user__avatar">
                        <a href="#" class="header-avatar">
                            <img src="images/user/header-avatar.jpg" alt="User">
                            <span class="header-avatar__icon">
                                <svg width="6" height="4">
                                    <use xlink:href="images/icons/sprite.svg#chevron-down-white"></use>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header__burger">
                <button class="button button--gradient menu-button" data-button-toggle="menu">
                    <span class="menu-button__icon">
                        <span></span>
                    </span>
                    <span class="menu-button__text">Меню</span>
                </button>
            </div>
        </div>
        <div class="header__menu" data-block-toggle="menu">
            <div class="main-menu">
                <div class="main-menu__catalog">
                    <button class="button button--gradient catalog-button">
                            <span class="catalog-button__icon">
                                <svg width="24" height="24">
                                    <use xlink:href="images/icons/sprite.svg#catalog"></use>
                                </svg>
                            </span>
                        <span class="catalog-button__text">Каталог подарков</span>
                    </button>
                </div>
                <div class="main-menu__search">
                    <div class="header-search">
                        <div class="header-search__icon">
                            <svg width="16" height="16">
                                <use xlink:href="images/icons/sprite.svg#search"></use>
                            </svg>
                        </div>
                        <input type="text" placeholder="Поиск по каталогу..." class="header-search__input">
                    </div>
                </div>
                <div class="main-menu__nav">
                    <nav class="main-nav">
                        <ul class="main-nav__list">
                            <li class="main-nav__item main-nav__item-sub nav-sub">
                                <a href="#" class="main-nav__link">
                                    Для бизнеса
                                    <span class="main-nav__link-icon">
                                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M0.410749 0.910582C0.0853125 1.23602 0.0853124 1.76366 0.410749 2.08909L5.41075 7.08909C5.73619 7.41453 6.26382 7.41453 6.58926 7.08909L11.5893 2.08909C11.9147 1.76366 11.9147 1.23602 11.5893 0.910582C11.2638 0.585145 10.7362 0.585145 10.4108 0.910582L6.00001 5.32133L1.58926 0.910582C1.26382 0.585145 0.736186 0.585145 0.410749 0.910582Z"
                                                  fill="#2F2F2F"/>
                                        </svg>
                                    </span>
                                </a>
                                <button class="nav-sub__button" data-button-slide>
                                    Для бизнеса
                                    <span class="nav-sub__button-icon">
                                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M0.410749 0.910582C0.0853125 1.23602 0.0853124 1.76366 0.410749 2.08909L5.41075 7.08909C5.73619 7.41453 6.26382 7.41453 6.58926 7.08909L11.5893 2.08909C11.9147 1.76366 11.9147 1.23602 11.5893 0.910582C11.2638 0.585145 10.7362 0.585145 10.4108 0.910582L6.00001 5.32133L1.58926 0.910582C1.26382 0.585145 0.736186 0.585145 0.410749 0.910582Z"
                                                  fill="#2F2F2F"/>
                                        </svg>
                                    </span>
                                </button>
                                <div class="nav-sub__list-wrapper">
                                    <ul class="nav-sub__list">
                                        <li class="nav-sub__item">
                                            <a href="#" class="nav-sub__link">Наши продукты</a>
                                        </li>
                                        <li class="nav-sub__item">
                                            <a href="#" class="nav-sub__link">Универсальная карта Bantikov</a>
                                        </li>
                                        <li class="nav-sub__item">
                                            <a href="#" class="nav-sub__link">Банковские карты</a>
                                        </li>
                                        <li class="nav-sub__item">
                                            <a href="#" class="nav-sub__link">Элекронные подарочные карты</a>
                                        </li>
                                        <li class="nav-sub__item">
                                            <a href="#" class="nav-sub__link">Торговым центрам</a>
                                        </li>
                                        <li class="nav-sub__item">
                                            <a href="#" class="nav-sub__link">Программа лояльности</a>
                                        </li>
                                        <li class="nav-sub__item">
                                            <a href="#" class="nav-sub__link">Запуск подарочных карт</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="main-nav__item">
                                <a href="#" class="main-nav__link">Универсальная карта</a>
                            </li>
                            <li class="main-nav__item main-nav__item-sub nav-sub">
                                <a href="#" class="main-nav__link">
                                    О нас
                                    <span class="main-nav__link-icon">
                                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M0.410749 0.910582C0.0853125 1.23602 0.0853124 1.76366 0.410749 2.08909L5.41075 7.08909C5.73619 7.41453 6.26382 7.41453 6.58926 7.08909L11.5893 2.08909C11.9147 1.76366 11.9147 1.23602 11.5893 0.910582C11.2638 0.585145 10.7362 0.585145 10.4108 0.910582L6.00001 5.32133L1.58926 0.910582C1.26382 0.585145 0.736186 0.585145 0.410749 0.910582Z"
                                                  fill="#2F2F2F"/>
                                        </svg>
                                    </span>
                                </a>
                                <button class="nav-sub__button" data-button-slide>
                                    О нас
                                    <span class="nav-sub__button-icon">
                                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M0.410749 0.910582C0.0853125 1.23602 0.0853124 1.76366 0.410749 2.08909L5.41075 7.08909C5.73619 7.41453 6.26382 7.41453 6.58926 7.08909L11.5893 2.08909C11.9147 1.76366 11.9147 1.23602 11.5893 0.910582C11.2638 0.585145 10.7362 0.585145 10.4108 0.910582L6.00001 5.32133L1.58926 0.910582C1.26382 0.585145 0.736186 0.585145 0.410749 0.910582Z"
                                                  fill="#2F2F2F"/>
                                        </svg>
                                    </span>
                                </button>
                                <div class="nav-sub__list-wrapper">
                                    <ul class="nav-sub__list">
                                        <li class="nav-sub__item">
                                            <a href="#" class="nav-sub__link">О компании</a>
                                        </li>
                                        <li class="nav-sub__item">
                                            <a href="#" class="nav-sub__link">Отзывы</a>
                                        </li>
                                        <li class="nav-sub__item">
                                            <a href="#" class="nav-sub__link">Бонусная программа</a>
                                        </li>
                                        <li class="nav-sub__item">
                                            <a href="#" class="nav-sub__link">Вопросы и ответы</a>
                                        </li>
                                        <li class="nav-sub__item">
                                            <a href="#" class="nav-sub__link">Вакансии</a>
                                        </li>
                                        <li class="nav-sub__item">
                                            <a href="#" class="nav-sub__link">Контакты</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="main-nav__item">
                                <a href="#" class="main-nav__link">Доставка и оплата</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="main-menu__card-action">
                    <button class="button button--gradient_text button--gradient card-action-button">
                        <span class="button__text">
                             Активировать карту
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
